<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="background">
    <div class="principal">
        <form class="formulario" action="/enviar" method="post">
            {% if errors %}
            <img src="{{ url_for('static', filename='figuras/imagem4.png') }}" class="imagens">
            {% else %}
            <img src="{{ url_for('static', filename='figuras/imagem1.png') }}" class="imagens">
            {% endif %}
            <h1>Cadastro</h1>

            {% if errors %}
            <div class="erros">
                {% for erro in errors %}
                    <p>{{ erro }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <label for="nome">Nome Completo</label>
            <input type="text" name="nome" value="{{ nome }}" required>

            <label for="email">Email</label>
            <input type="email" name="email" value="{{ email }}" required>

            <label for="senha">Senha</label>
            <input type="password" name="senha" required>

            <label for="csenha">Confirmar Senha</label>
            <input type="password" name="csenha" required>

            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>